


<div class="icon-with-shd d-flex align-items-center justify-content-center">
<img alt="" class="img-fluid" height="" src="{{ icon }}" width="" /></div>

<div>
<h2 class="h2-02 bold mt-3 mt-lg-0">{{ title }}</h2>

<p>{{ description }}</p>
    {{ form }}
</div>




